.monitorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

.header {
  margin-bottom: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}
