.clockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  text-align: center;
}

.time {
  margin-bottom: 8px;
}

.date {
  opacity: 0.8;
}
