/**
 * Typography Styles
 */

.title {
  font-weight: 600;
  line-height: 1.3;
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}

.title-small {
  font-size: 1rem;
}

.title-medium {
  font-size: 1.5rem;
}

.title-large {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.largeText {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
}

.smallText {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
